#feed-card {
  border-color: lightgrey;
  margin-top: 10px;
}

#feed-list {
  height: 100%;
  overflow: auto;
}

#feed {
  background-color: lightgrey;
  border-color: lightgrey;
  color: black;
}

#feed.active {
  color: forestgreen;
}
