#content-card {
  height: 100%;
  margin-top: 10px;
}

#content-header {
  font-weight: bold;
  font-size: 20px;
  background-color: white;
  border-color: white;
}

#content-body {
  height: 100%;
  overflow: auto;
}

#card-link {
  text-align: center;
}
