#item-header {
    font-weight: bold;
}

#item-list {
    max-height: 100vh;
    overflow: auto;
}

#feed-item.active {
    border-color: grey;
    background-color: grey;
    color: lightgrey;
}

#feed-item-heading {
    font-weight: bold;
}

#feed-item-author {
    font-style: italic;
}